// Colors variables OR color combinations
// main colors
$royalBlue: #00539cff;
$peach: #eea47fff;
$blue: #2f3c7e;
$pink: #fbeaeb;
$white: white;

// other colors
$hero-header-overlay: rgba(41, 36, 36, 0.7);
$hero-prof-color: rgba(132, 71, 79, 0.375);
$hobby-img-overlay: rgba(0, 0, 0, 0.5);
$blk: black;
$rd: red;

// Fonts variables
$quickSand: "Quicksand";
$persian-nastaliq: IranNastaliq, "IranNastaliq", tahoma;
$varela: "Varela";
